@import "../../css/fonts.scss";

.Rooms {
    margin-top: 20px;
    font-family: 'Nunito';
    font-weight: 700;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Rooms label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rooms input {
    border: none;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    transition: all .3s ease;
    animation: linear ease-in 0.1s;

    &:focus {
        border: 3px solid #0652DD;
    }
}

.HostRoom, .JoinRoom {
    margin-top: 20px;
    width: 90%;
    background-color: #34495e;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;

    h1, p {
        margin: 0;
    }

}

.toggling {
    display: flex;
    justify-content: center;
}

.openHost {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s all ease;
}

.participantContainer {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    color: black;
    min-height: 200px;

    .underline {
        text-decoration: underline;
    }

    p {
        margin: 0;
    }
}

.HostRoom button {
    width: 80%;
    background-color: #27ae60;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

.roomNumber {
    font-weight: 400;
    font-size: 30px;
}

.JoinRoom form {
    font-size: 30px;
    font-weight: 400;
}

.JoinRoom button {
    width: 80%;
    background-color: #27ae60;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 30px;
    color: white;
}


