@font-face {
    font-family: 'Nunito';
    src: local('FiraSans'), url(../fonts/Nunito-Regular.ttf) format('truetype');
}

body {
    font-family: 'Nunito';
    font-weight: 400;
}

@font-face {
    font-family: 'Pandorama';
    src: local('FiraSans'), url(../fonts/pandoramaDEMO.otf) format('truetype');
}