.privacyPolicy {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: black;

    svg {
        color: white;
    }

    p {
        color: white;
        text-align: left;
    }

    a {
        color: blue;
        margin: 5px;
        text-decoration: underline;
    }
}