.privacyPolicy {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: black;

    svg {
        color: white;
    }

    p, a {
        color: white;
        text-align: left;
    }

    a {
        margin: 5px;
    }
}